/* ========== Start Main ========== */
.app-main {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    height: 100dvh;
}
/* ========== Start Header ========== */
#header {
    width: calc(100% - 48px);
    margin: 0 auto;
}
#header.show {
    animation: backInTop 1s fo;
}
/* ========== Start Splash screen ========== */

#splash-screen {
    background-image: url('../assets/images/spashBg.png');
    background-size: cover;
}
#splash-screen h3 {
    animation: Splash-screen-text 2s forwards;
}
#splash-screen .stage {
    animation: Splash-screen-stage 4s forwards;
}
#splash-screen .stage img {
    mix-blend-mode: multiply;
    border-radius: 100px;
}
#splash-screen .splash-btn {
    animation: Splash-screen-button 6s forwards;
}
.splash-screen-side {
    animation: Splash-screen 1s ease-in forwards !important;
}

/* ========== Start Menu & Modal ========== */

.open {
    animation: openModal .2s forwards;
}

/* ========== Start Screen ========== */
.product-card:nth-child(odd) .title {
    position: absolute;
    left: 5dvh;
}
.product-card:nth-child(even) {
    direction: ltr;
}
.product-card:nth-child(even) .title {
    position: absolute;
    right: 5dvh !important;
}
/* انیمیشن منو */
#modal-menu {
    transition: transform 0.3s ease-in-out;
}

/* Smooth scroll */
.overflow-scroll {
    scroll-behavior: smooth;
}

#category-screen{
    background-image: url('../assets/images/cateoryBg.png');
    background-size: cover;
    background-position: top left;
}
.modal {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
}

.modal.open {
    transform: translateY(0);
}

#modal-overlay {
    pointer-events: auto;
    z-index: 40;
}

#modal-overlay.pointer-events-none {
    pointer-events: none;
}